@import './base.css';

.kolento p {margin-bottom: 0;}
.pointer {cursor: pointer;}


/* 对antdesign样式的控制 */
.user-info .anticon {display:none!important;}

/* 左侧菜单栏样式控制 */
.menu-txt {margin-left: 6px;}
.ant-menu-inline-collapsed  .menu-txt {
    display: none;
}